.mat-mdc-card-header {
  font-weight: bold;
  background: var(--bg-surface);
  display: flex;
  color: var(--text);
}

.messages {
  right: 0;
  margin-left: auto;
}

.message {
  color: var(--danger);
  cursor: pointer;
}
